* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0.45em;
}

.form-file {
  display: contents;
}

.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

svg {
  width: 20px;
  height: 20px;
  margin-right: 0.5em;
}

.file-input + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
}

.file-input + label {
  padding: 0.5em 1em;
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: #232ED1;
  display: inline-block;
  border-radius: 0.25em;
}

.file-input:focus+label,
.file-input+label:hover {
  background-color: #101D42;
}

.file-input+label {
  cursor: pointer;
}

.file-input:focus+label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

button {
  margin-top: 20px;
  padding: 0.5em 1em;
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: #0D1317;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
}

button:hover {
  background-color: #101D42;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.search {
  height: 50vh;
}